<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streamlink-UI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles_website.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="top-nav">
        <header>
            <h1 class="logo"><span data-variable="title_heading"></span></h1>
            <nav>
                <ul class="nav_links">
                    <li><a href="#"><span data-variable="hostname"></a></li>
                    <li><a href="#"><span data-variable="disk_space"></a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>Documentation</button></a>
        </header>    
    </div>

    <div class="side-nav">
        <nav>
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="../static/assets/icon.svg" alt="">
                        <span class="nav-item"></span>
                    </a>
                </li>
                <li><a href="#">
                    <i class="fas fa-home"></i>
                    <span class="nav-item"><span data-variable="hostname"></span>
                </a></li>
                <li><a href="#">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Profile</span>
                </a></li>
                <li><a href="#">
                    <i class="fas fa-wallet"></i>
                    <span class="nav-item">Wallet</span>
                </a></li>
                <li><a href="#">
                    <i class="fas fa-chart-bar"></i>
                    <span class="nav-item">Analytics</span>
                </a></li>
                <li><a href="#">
                    <i class="fas fa-tasks"></i>
                    <span class="nav-item">Tasks</span>
                </a></li>
                <li><a href="#">
                    <i class="fas fa-cog"></i>
                    <span class="nav-item">Settings</span>
                </a></li>
                <li><a href="#">
                    <i class="fas fa-question-circle"></i>
                    <span class="nav-item">Help</span>
                </a></li>
                <li><a href="#" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log out</span>
                </a></li>
            </ul>
        </nav>
    </div>
    

    <div class="main">
        <div class="testing">
            <h1>Main Element</h1>
            <form action="{{ url_for('checker') }}" method="post">
                <input type="checkbox" name="match-with-pairs"/>
                <input type="checkbox" name="match-with-bears"/>
                Arg2 <input name="arg2"> <br><br>
                Arg 1<input name="arg1"> <br><br>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>

    <script src="../static/js/variables_script.js"></script>
</body>
</html>  